header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #070720;
    padding: 12px 0;
    .header-title {
        color: white;
        font-size: 1.8rem;
        font-weight: bold;
        margin: 0;
        user-select: none;
        &:hover {
            cursor: pointer;
        }
    }
    z-index: 100;
}

.header-offset {
    padding-bottom: 64px;
}