<section class="movie-grid mb-5">
  <h2 class="mb-4 fw-bold text-white" style="letter-spacing:1px;">{{title}}</h2>
  <ng-container *ngIf="loading; else movieGridList">
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4" *ngFor="let skel of [1,2,3,4,5,6,7,8,9]">
        <div class="card movie-grid-card h-100">
          <div class="movie-grid-img-wrapper skeleton"></div>
          <div class="card-body p-2 text-white">
            <div class="skeleton skeleton-title mb-1"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #movieGridList>
    <div class="row justify-content-center" *ngIf="!loading">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
  </ng-template>
</section>
