<section>
  <h2 class="mb-2 mb-md-3 mb-lg-4 fw-bold text-white" style="letter-spacing: 1px">
    {{ title }}
  </h2>
  <ng-container *ngIf="loading; else movieSlider">
    <ngx-slick-carousel class="carousel" [config]="sekeletonSlideConfig">
      <div ngxSlickItem class="slide except-hover" *ngFor="let skel of [1, 2, 3, 4, 5]">
        <div class="skeleton slide-img"></div>
      </div>
    </ngx-slick-carousel>
  </ng-container>

  <ng-template #movieSlider>
    <ngx-slick-carousel class="carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let movie of featuredMovies" class="slide">
        <img
          (click)="navigateToDetailsPage(movie.imdbID)"
          class="slide-img"
          [src]="movie.Poster"
          [alt]="movie.Title"
        />
      </div>
    </ngx-slick-carousel>
  </ng-template>
</section>
