@use 'variables' as *;


.carousel {
  width: 100%;
  margin: 0 auto;
}

.slide {
  padding: 8px;
  text-align: center;
}

.slide img {
  width: 100%;            
  max-width: 200px;     
  height: auto;
  margin: 0 auto;
  display: block;
}

::ng-deep .slick-dots li button:before {
  color: white !important;
  font-size: 12px;
  opacity: 0.7;
}

::ng-deep .slick-dots li.slick-active button:before {
  opacity: 1;
}

::ng-deep .slick-prev,
::ng-deep .slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

::ng-deep .slick-prev:hover,
::ng-deep .slick-next:hover {
  
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
  color: $c-orange;
  font-size: 24px;
  opacity: 1;
}
