<header>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="d-flex align-items-center">
        <h1 class="header-title" (click)="navigateToHome()">
          Movie <span class="text-orange">Explorer</span>
        </h1>
        <nav class="header-nav">
          <ul>
            <ng-container *ngFor="let item of navItems">
              <li *ngIf="!item.dropdown">
                <a routerLink="{{ item.link }}">
                  {{ item.label }}
                  <i *ngIf="item.icon" [class]="item.icon + ' ms-2'"></i>
                </a>
              </li>
              <li class="dropdown" *ngIf="item.dropdown">
                <a href="#" class="dropbtn">
                  {{ item.label }} <i class="ms-1 fa-solid fa-chevron-down"></i>
                </a>
                <div class="dropdown-content">
                  <a
                    *ngFor="let subItem of item.subItems"
                    routerLink="{{ subItem.link }}"
                  >
                    {{ subItem.label }}
                  </a>
                </div>
              </li>
            </ng-container>
          </ul>
        </nav>
      </div>
      <app-search-bar
        class="flex-grow-1 justify-content-end"
        (search)="navigateToSearch($event)"
      ></app-search-bar>
    </div>
  </div>
</header>
<div class="header-offset"></div>
