@use "variables" as *;

header {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $c-color-070720;
  padding: 12px 0;
  .header-title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }
  z-index: 100;
}

.header-offset {
  padding-bottom: 64px;
}

.header-nav {
  display: inline-block;
  margin-left: 32px;
  vertical-align: middle;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    li {
      position: relative;
      margin-right: 24px;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 8px 12px;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
          color: $c-orange;
          cursor: pointer;
        }
      }
      &.dropdown {
        .dropbtn {
          cursor: pointer;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          top: calc(100%);
          background-color: #23234a;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 101;
          a {
            display: block;
            color: white;
            padding: 10px 16px;
            text-decoration: none;
            &:hover {
              background-color: #070720;
            }
          }
        }
        &:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
}
