<div class="movie-column">
  <h2 class="mb-4 fw-bold text-white" style="letter-spacing: 1px">
    {{ title }}
  </h2>
  <div class="row gap-3">
    <ng-container *ngIf="loading; else movieList">
      <div class="col-12" *ngFor="let skel of [1, 2, 3, 4, 5]">
        <div class="card movie-column-card h-100">
          <div class="movie-column-img-wrapper skeleton"></div>
          <div class="card-body p-2 text-white">
            <div class="skeleton skeleton-title mb-1"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #movieList>
      <div class="col-12" *ngFor="let movie of movies">
        <div (click)="navigateToDetailsPage(movie.imdbID)" class="card movie-column-card h-100">
          <div class="movie-column-img-wrapper">
            <img
              [src]="movie.Poster"
              [alt]="movie.Title"
              class="card-img-top"
            />
          </div>
          <div class="card-body p-2 text-white">
            <h4 class="card-title mb-1">{{ movie.Title }}</h4>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
