<form
  class="row align-items-center justify-content-start justify-content-md-end"
  (submit)="onSubmit($event)"
>
  <div class="col-8 col-md-6">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập từ khóa..."
      [(ngModel)]="searchQuery"
      name="searchQuery"
    />
  </div>
  <div class="col-4 col-md-auto">
    <button type="submit" class="search-btn btn bg-orange text-white w-100">
      Tìm kiếm <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>
