@use "variables" as *;

.search-btn {
    transition: all .3s;
    &:hover {
        opacity: 0.8;
        background-color: $c-orange;
    }
}

@media (max-width: 393px) {
  .search-btn {
    font-size: 0.9rem
  }
}