<app-header></app-header>
<div class="container py-5">
  <div class="mt-4"></div>

  <div class="row">
    <div class="col-md-8">
      <ng-container *ngIf="isTooManyResultsError(); else mainContent">
        <div class="alert alert-info mt-4 px-5">
          <div class="text-center">
            <h5>🔍 Từ khóa quá chung chung</h5>
            <p>
              Từ khóa <b>"{{ searchQuery }}"</b> quá chung chung. Vui lòng thử
              với từ khóa cụ thể hơn, ví dụ:
            </p>
          </div>
          <ul class="list-unstyled">
            <li>• Tên phim cụ thể: "Avengers", "Titanic"</li>
            <li>• Tên nhân vật: "Nepoleon", "Sinbad"</li>
            <li>• Năm phát hành: "2023", "1997"</li>
            <li>• Thể loại phim: "action", "romance", "comedy"</li>
          </ul>
        </div>
      </ng-container>

      <ng-template #mainContent>
        <ng-container
          *ngIf="
            !loading && !error && searchedMovies.length === 0 && searchQuery;
            else movieGrid
          "
        >
          <div class="alert alert-warning text-center mt-4">
            Không tìm thấy phim nào phù hợp với từ khóa <b>{{ searchQuery }}</b
            >.
          </div>
        </ng-container>
      </ng-template>

      <ng-template #movieGrid>
        <app-movie-grid
          [loading]="loading"
          [title]="title"
          [movies]="searchedMovies"
        ></app-movie-grid>
      </ng-template>
    </div>
    <div class="col-md-4">
      <div class="ms-5">
        <app-suggested></app-suggested>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
